*{
	margin: 0;
	padding: 0;
	font-family: "苹方","微软雅黑";
	font-style: normal;
	font-weight: normal;
}
@font-face {
  font-family: 'iconfont';  /* project id 988204 */
  src: url('//at.alicdn.com/t/font_988204_7dixgdwnqk.eot');
  src: url('//at.alicdn.com/t/font_988204_7dixgdwnqk.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_988204_7dixgdwnqk.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_988204_7dixgdwnqk.woff') format('woff'),
  url('//at.alicdn.com/t/font_988204_7dixgdwnqk.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_988204_7dixgdwnqk.svg#iconfont') format('svg');
}
.iconfont{
	font-family: iconfont;
}
a{
	text-decoration: none;
}
.clear::after{			//伪元素选择器
	content: "";
	display: block;
	width: 0;
	height: 0;
	clear: both;
}
ul,li{
	list-style: none;
}

