/* 导航开始 */
.big-box{
	width:100vw;
	height:100px;
	border-bottom: 2px solid #ff6700;
}
.head{
	width:1226px;
	height:100px;
	margin: 0 auto;
}
.head-left{
	float: left;
	height: 100%;
}
.head-left .logo{
	width: 55px;
	height: 55px;
	background: #ff6700;
	margin-top: 22.5px;
	float: left;
}
.head-left .logo img{
	margin-top: 3px;
	margin-left: 3px;
}
.head-left h2{
	font-size: 28px;
    line-height: 48px;
    font-weight: normal;
    color: #424242;	
	float: left;
	line-height:100px;
	margin-left: 46px;
}
.head-right{
	float: right;
	height: 100%;
	display: flex;
	align-items: center;
}
.head-right .youzi{
	height: 12px;
	float: left;
	text-align: center;
	font-size: 12px;
	line-height: 40px;
	color: #757575;
}
.head-right .hline{
	height: 12px;
	float: left;
	margin:0 7px;
	text-align: center;
	line-height: 40px;
	font-size: 10px;
	color:rgba(0,0,0,0.5);
}
/* 导航结束 */
.middle-box{
	width: 100%;
	height: 1260px;
	background: #F5F5F5;
	padding-top: 38px;
	box-sizing: border-box;
}
.middle-box .middle-box1{
	width: 1226px;
	height: 365px;
	background: #fff;
	margin: 0 auto;
}
.middle-box .middle-box1 .middle-box1-top{
	width: 1226px;
	height: 72px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #e0e0e0;
	box-sizing: border-box;
}
.middle-box .middle-box1 .middle-box1-top .left-box{
	width: 315px;
	height: 72px;
	display: flex;
	justify-content: space-between;
}
.middle-box .middle-box1 .middle-box1-top .left-box .iconfont{
	font-style: normal;
	color: #ff6700;
}
.middle-box .middle-box1 .middle-box1-top .left-box>span{
	font-size: 12px;
	color: #757575;
	line-height: 72px;

}
.middle-box .middle-box1 .middle-box1-top .left-box .choose-box{
	width: 110px;
	height: 72px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 15px;
}
.middle-box .middle-box1 .middle-box1-top .right-box{
	width: 620px;
	height: 72px;
	display: flex;
	justify-content: space-around;
	line-height: 72px;
	font-size: 15px;
}
.middle-box .middle-box1 .middle-box1-bottom{
	width: 1226px;
	height: calc(100% - 72px);
}
.middle-box .middle-box1 .middle-box1-bottom .xiaomi-box{
	width: 1226px;
	height: 120px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.middle-box .middle-box1 .middle-box1-bottom .xiaomi-box .iconfont{
	font-style: normal;
	color: #ff6700;

}
.middle-box .middle-box1 .middle-box1-bottom .xiaomi-box .shuliang{
	width: 153px;
	height: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.middle-box .middle-box1 .middle-box1-bottom .xiaomi-box>img{
	width: 80px;
	height: 80px;
}
.middle-box .middle-box1 .middle-box1-bottom .yiwai{
	width: 1100px;
	height: 50px;
	margin-left: 100px;
	display: flex;
justify-content: flex-start;
font-size: 14px;
align-items: center;
border: 1px solid #e0e0e0;
	box-sizing: border-box;
}
.middle-box .middle-box1 .middle-box1-bottom .yiwai>span{
	margin-left: 10px;

}
.middle-box .middle-box1 .middle-box1-bottom .yiwai .www{
	color: #ff6700;
}
.middle-box .middle-box1 .middle-box1-bottom .yiwai .iconfont{
	font-style: normal;
	color: #ff6700;
	margin-left: 10px;
}
.middle-box .middle-box2{
	width: 1226px;
	height: 53px;
	background: #fff;
	margin: 0 auto;
	margin-top: 19px;
	display: flex;

}
.middle-box .middle-box2 .right{
	width: 205px;
	height: 100%;
	background: #ff6700;
	font-size: 18px;
	color: #fff;
	text-align: center;
	line-height: 53px;

}
.middle-box .middle-box2 .left{
	width: calc(100% - 205px);
	height: 100%;
	display: flex;
/* padding: 0 30px;
box-sizing: border-box; */
justify-content: space-between;
}
.middle-box .middle-box2 .left .left-box{
	width: 255px;
	height: 100%;
	font-size: 12px;
	color: #757575;
	text-align: center;
	line-height: 53px;
}
.middle-box .middle-box2 .left .right-box{
	width: 130px;
	height: 100%;
	font-size: 12px;
	color: #ff6700;
	text-align: center;
	line-height: 53px;
}
.middle-box .middle-box3{
	width: 1226px;
	height: 109px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.middle-box .middle-box3 .line-left,.line-right{
	width: 373px;
	height: 2px;
	background: #e0e0e0;
}
.middle-box .middle-box3>span{
	font-size: 28px;
	color: #757575;
}

/* 为你推荐开始 */
.wntj{
	width: 1226px;
	height: 300px;
	margin: 0 auto;
	margin-top: 10px;
}
/* .wntj-top{
	width: 100%;
	height: 40px;
} */
.wntj-bottom{
	width: 100%;
	height:340px;
	overflow: hidden;
}
.wntj-bottom>ul{
	width: calc(1226px * 3);
	height: 100%;
	text-align: center;
}

.wntj-bottom>ul>li{
	width: 234px;
	height: 300px;
	background: #ffffff;
	float: left;
	margin-left: 14px;
	text-align: center;
	position: relative;
}
.wntj-bottom>ul>li img{
	width: 140px;
	height: 140px;
	margin-top: 30px;
}
.wntj-bottom  .tu-text{
	font-size: 14px;
	margin:10px 15px 0 15px;
	overflow: hidden;
	text-overflow:ellipsis ;
	white-space: nowrap;
}
.wntj-bottom .tu-yuan{
	color: red;
	margin: 10px 15px 0 15px;
}
.wntj-bottom .haopin{
	font-size: 14px;
	margin-top: 10px;
}
.wntj-bottom>ul>li:hover .yc-list{
	/* transform:translate(0,-65px); */
	display: block;
}
.wntj-bottom>ul>li .yc-list{
	width: 122px;
	height: 30px;
	background:#fff;
	display: none;
	border:1px solid #ff6700;
	position: absolute;
	top: 240px;
	left:50px ;
	color:#ff6700;
}
.wntj-bottom>ul>li .yc-list span{
	font-size: 12px; 
	line-height: 30px;
	margin:0 30px;
}
.wntj-bottom>ul>li .yc-list:hover{
	background:#ff6700;
	color: #fff;
}
.wntj-bottom .sj{
	margin-left: 0;
}
/* 为你推荐结束 */
.kong{
	width: 100vw;
	height: 80px;
	background: #f5f5f5;
}





